asgiref==3.3.2
beautifulsoup4==4.9.3
dj-database-url==0.5.0
Django==3.2
django-bootstrap4==2.3.1
django-heroku==0.0.0
flake8==3.9.0
gunicorn==20.1.0
mccabe==0.6.1
psycopg2-binary==2.8.6
pycodestyle==2.7.0
pyflakes==2.3.1
pytz==2021.1
soupsieve==2.2.1
sqlparse==0.4.1
whitenoise==5.2.0
